<nav>
	<a href="/" <% if(current == "top"){ %>class="current" <%}%>>TOP</a>
	<a href="second.html" <% if(current == "second"){ %>class="current" <%}%>>SECOND</a>
	<a href="third.html" <% if(current == "third"){ %>class="current" <%}%>>THIRD</a>
</nav>