<!DOCTYPE html>
<html lang="ja">
	<body>
		<% var pageName = 'トップページ'; %>
		<h1>ここは<%= pageName %>です。</h1>

		<!--制御構文その1-->
		<% var array = ["りんご", "みかん", "バナナ"]; %>
		<ul>
		<% for(let i = 0; i < array.length; i++){%>
			<li><%= array[i] %></li>
		<%}%>
		</ul>

		<!--制御構文その2-->
		<% if(pageName == "トップページ"){%>
			<h2>ここはトップページです。</h2>
		<%}else{%>
			<h2>ここはトップページではありません!</h2>
		<%}%>

		<!--HTMLタグを出力したい場合-->
		<% var url = '<a href="#">リンク</a>'; %>
		<p>HTMLタグを含む文字列を埋め込む場合は、<%- url %>のように書きます。</p>

		<!--外部ファイルの埋め込み-->
		<%- include('./_nav', {current: "top"}) %>
		
	</body>
</html>
