body {
  background-color: azure;
}

h1 {
  color: #29b6e6;
  font-size: 18px;
}
@media screen and (max-width: 740px) {
  h1 {
    font-size: 12px;
  }
}

h1 {
  font-size: 18px;
}
@media srceen and (max-width: 740px) {
  h1 {
    font-size: 12px;
  }
}

.basic_btn, .custom_btn {
  text-decoration: none;
  background-color: #29b6e6;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.custom_btn {
  background-color: #e62994;
  border-radius: 0;
}

body {
  background-color: #000;
  color: #fff;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
}

h1, h2, p {
  margin: 1rem;
}

a {
  display: inline-block;
  margin: 1rem;
}