.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

node_modules/
chap02/node_modules/
chap03/node_modules/
chap05/node_modules/
chap06/node_modules/
.DS_Store